
/* For toast component: toast.js */
.toast {
    z-index: 1000;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    color: #000;
    box-shadow: 3px 3px 10px hsl(0 0% 0% / 0.6);
    &.warning {
        background-color: hsl(35 100% 65%);
    }
    &.error {
        background-color: hsl(0 100% 65%);
    }
    &.info {
        background-color: hsl(50 100% 65%);
    }
    &.top-right {
        right: 10px;
        top: 10px;
    }
    &.top-left {
        top: 10px;
        left: 10px;
    }
    &.bottom-left {
        left: 10px;
        bottom: 10px;
    }
    &.bottom-right {
        right: 10px;
        bottom: 10px;
    }
}